// *** COMMON IMPORTS ***
@import "../../style";

// *** DECLARATIVE PART ***
$height: 70px;
//$backGroundColor: green;

.header{


  height: $height;
  background-color: $global_darker;
  width: 100%;
  position: fixed;


}
.mockContainer{
  display: block;
  width: 100%;
  height: $height;

}